*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Courier New', Courier, monospace;
}

header 
{
    background-color: aqua;
}

footer 
{
    
}

a 
{
    text-decoration: none;
}

nav 
{

}

.icons
{
    width: 2em;
    height: 2em;
}