/*#4EA0BD*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body
{
    height: 100vh;
    /* background-color:#fae6c4; */
    /* background-image: 
        radial-gradient(at 81% 65%, #a8c7ff 0px, transparent 50%),
        radial-gradient(at 95% 99%, #ffe4b1 0px, transparent 50%),
        radial-gradient(at 48% 26%, #dbb4ff 0px, transparent 50%),
        radial-gradient(at 75% 26%, #abe7ff 0px, transparent 50%); */
    background-color:#07141a;
    background-image: 
        radial-gradient(at 81% 65%, #1b2a44 0px, transparent 50%),
        radial-gradient(at 95% 99%, #3c5277 0px, transparent 50%),
        radial-gradient(at 48% 26%, #0e192b 0px, transparent 50%),
        radial-gradient(at 75% 26%, #e09650 0px, transparent 50%);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

@keyframes gradient 
{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


main 
{
    display: flex;
    gap: 20px;    
    padding: 20px;
}


.column-wrapper 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    
}

.column 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container
{
    background-color: #19323b;
    border-radius: 16px;
    padding: 20px;
    color: #4EA0BD;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-about
{
    background-color: #19323b;
    border-radius: 16px;
    padding: 20px;
    color: #4EA0BD;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
    display: flex;
    
}

.container-skill
{
    display: flex;
}
.skill-capsule 
{
    background-color: #0b2833;
    border-radius: 15px;
    padding: 5px;
}

.about-text 
{
    display: flex;
    flex-direction: column;
}

.container-footer 
{
    text-align: center;
    background-color: #19323b;
    border-radius: 16px;
    padding: 20px;
    color: #4EA0BD;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
}

.time 
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time span 
{
    font-size: 80px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.time-display 
{
    display: flex;
}

#status-time 
{   font-size: 25px;
    font-weight: bold;
    display: flex;
}

.picture-about {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.picture-container 
{
    transition: transform 0.2s ease;
}

.picture-container:hover
{
    transform: scale(1.05);
}

.picture-container:active 
{
    transform: scale(0.95);
}

p 
{
    color: white;
}

a 
{
    color: white;
    text-decoration: none;
}

.contact-me
{
    border-radius: 16px;
    padding: 15px;
    background-color: #0b2833;
    cursor: pointer;
    width: 50%;
    transition: transform 0.2s ease;
}

/* .contact-me .icon 
{

} */

.contact-me:hover
{
    transform: scale(1.05);
}

.contact-me:active 
{
    transform: scale(0.95);
}

.icon 
{
    width: 1.5em;
    height: 1.5em;
    
}

.icons-footer
{
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.2s ease;
}

.icons-footer:hover
{
    transform: scale(1.15);
}

.icons-footer:active 
{
    transform: scale(0.95)
}

.project-container 
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;

}
.picture-projects
{
    border-radius: 25px;
    height: 150px;
    width: 200px;
    display: flex;
    transition: transform 0.2s ease;   
}

.picture-projects:hover
{
    transform: scale(1.04);
}

.picture-projects:active 
{
    transform: scale(0.94);
}

.scrollbar 
{
    margin: 20px;
    height: 50%;
    width: 100%;
    overflow-y:auto;
    border: 1px solid #19323b;
    overflow-x: hidden;
}
.scrollbar li
{
    padding: 5px;
    font-size: 18px;
    transition: transform 0.2s ease;
}
.scrollbar li:hover
{
    transform: scale(1.04);
    
}

.scrollbar li:active
{
    transform: scale(0.94);
}


.scrollbar::-webkit-scrollbar 
{
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track
{
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb 
{
    background: #4EA0BD;
    border-radius: 10px;
}




/*barevná paleta

pro světlý režim
     background-color:#fae6c4; 
     background-image: 
        radial-gradient(at 81% 65%, #a8c7ff 0px, transparent 50%),
        radial-gradient(at 95% 99%, #ffe4b1 0px, transparent 50%),
        radial-gradient(at 48% 26%, #dbb4ff 0px, transparent 50%),
        radial-gradient(at 75% 26%, #abe7ff 0px, transparent 50%);
        
        
dark režim

    background-color:#07141a;
    background-image: 
        radial-gradient(at 81% 65%, #1b2a44 0px, transparent 50%),
        radial-gradient(at 95% 99%, #3c5277 0px, transparent 50%),
        radial-gradient(at 48% 26%, #0e192b 0px, transparent 50%),
        radial-gradient(at 75% 26%, #e09650 0px, transparent 50%);
*/